
body {
    background-image: url('../assets/comb_wallpaper.jpg');
    background-size: cover;

    --color3: #f0d4a3;
    --color5: rgb(250, 246, 242, 0.3);

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 10px;
    --footer-height: 25px;
    
    --font-family1: 'Amatic SC', cursive;
    --font-family2: 'Oswald' , sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    backface-visibility: ;
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family2);
    font-size: 1.1rem;
    font-weight: lighter;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.bee-border {
    width: 1200px;
    object-fit: cover;
    animation: pulse 6s infinite;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    font-family: var(--font-family1);
    font-weight: bolder;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-family: var(--font-family1);
    font-size: 3rem;
    font-weight: bolder;
}

h3 {
    font-family: var(--font-family1);
    font-size: 2rem;
    font-weight: bolder;
}

.gutter-right {
    margin-right: 20px;
}

.comb-background {
    enable-background: new;

}

.hidden {
    display: none
}

header img {
    height: var(--header-height);
}

ol {
    font-family: var(--font-family1);
    font-size: 1.6rem;
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    font-family: var(--font-family1);
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    50% {
        transform: scale(1.02);
    }

